Repository saritasa-nest/saritasa-devops-helm-charts, pull requests merged in 2023-06, with the labels that each got.

#74 feat: add new flag for WP apps
  charts/tekton-apps/Chart.yaml
  charts/tekton-apps/README.md
  charts/tekton-apps/templates/wordpress/argocd_applications.yaml
Labels: enhancement, Needs Review, chart/tekton-apps

#71 fix: minor tekton-pipeline issues
  charts/tekton-pipelines/Chart.yaml
  charts/tekton-pipelines/README.md
  charts/tekton-pipelines/templates/buildpacks/pipelines/_buildpack.yaml
  charts/tekton-pipelines/templates/buildpacks/tasks/_buildpack.yaml
  charts/tekton-pipelines/values.yaml
Labels: bug, enhancement, Needs Review, chart/tekton-pipelines

#73 feat: add argocd notifications
  charts/tekton-apps/Chart.yaml
  charts/tekton-apps/README.md
  charts/tekton-apps/templates/argocd_projects.yaml
  charts/tekton-apps/templates/general/argocd_applications.yaml
  charts/tekton-apps/templates/wordpress/argocd_applications.yaml
  charts/tekton-apps/values-test.yaml
Labels: enhancement, Needs Review, chart/tekton-apps

#75 feat: add 1.5.0 terraform tag
  charts/terraform-pod/Chart.yaml
  charts/terraform-pod/README.md
  charts/terraform-pod/values.yaml
Labels: enhancement, Needs Review

#76 feat: update documentation for default argo-cd notificatitons
  charts/tekton-apps/Chart.yaml
  charts/tekton-apps/README.md
  charts/tekton-apps/values-test.yaml
Labels: documentation, Needs Review, chart/tekton-apps

#78 fix: secret provisioning for wp
  charts/tekton-apps/Chart.yaml
  charts/tekton-apps/README.md
  charts/tekton-apps/templates/wordpress/argocd_applications.yaml
Labels: bug, Needs Review, chart/tekton-apps
