Repository saritasa-nest/saritasa-devops-helm-charts, pull requests merged in 2023-10, with the labels that each got.

#90 feat: add-mssql-creds
  charts/terraform-pod/Chart.yaml
  charts/terraform-pod/values.yaml
Labels: enhancement, Needs Review, terraform

#91 feat: update slack notifications with automatic jira link
  charts/tekton-pipelines/Chart.yaml
  charts/tekton-pipelines/README.md
  charts/tekton-pipelines/templates/common/tasks/slack-notification.yaml
Labels: enhancement, Needs Review, chart/tekton-pipelines

#92 feat: add possibility to override buildpack's `build` step
  charts/tekton-pipelines/Chart.yaml
  charts/tekton-pipelines/README.md
  charts/tekton-pipelines/templates/buildpacks/tasks/_buildpack.yaml
  charts/tekton-pipelines/values.yaml
Labels: enhancement, Needs Review

#93 feat: new-version-of-terraform
  charts/terraform-pod/Chart.yaml
  charts/terraform-pod/README.md
  charts/terraform-pod/values.yaml
Labels: enhancement, Needs Review, terraform

#94 feat: release terraform 1.6.2
  charts/terraform-pod/Chart.yaml
  charts/terraform-pod/README.md
  charts/terraform-pod/values.yaml
Labels: enhancement, Needs Review, terraform

#96 feat: updated the namespace selection method for wp chart
  charts/tekton-apps/Chart.yaml
  charts/tekton-apps/templates/wordpress/argocd_applications.yaml
  charts/tekton-apps/values.yaml
Labels: enhancement, Needs Review, chart/tekton-apps

#97 feat: update django buildpack pipeline
  charts/tekton-pipelines/Chart.yaml
  charts/tekton-pipelines/README.md
  charts/tekton-pipelines/values.yaml
Labels: enhancement, Needs Review, chart/tekton-pipelines
