Repository saritasa-nest/saritasa-devops-helm-charts, pull requests merged in 2024-10, with the labels that each got.

#136 feat: release terraform 1.9.7
  CHANGELOG.md
  charts/terraform-pod/Chart.yaml
  charts/terraform-pod/README.md
  charts/terraform-pod/values.yaml
Labels: Needs Review, terraform

#135 feat: add eol-exporter
  CHANGELOG.md
  charts/eol-exporter/Chart.yaml
  charts/eol-exporter/README.md
  charts/eol-exporter/values.yaml
  charts/rbac/README.md
  charts/tekton-apps/README.md
  charts/tekton-pipelines/README.md
  charts/terraform-pod/README.md
Labels: Needs Review

#137 feat: pipeline template fix
  CHANGELOG.md
  charts/capacity-prometheus-exporter/README.md
  charts/demo/README.md
  charts/jitsi-helm/README.md
  charts/jitsi-helm/charts/prosody/README.md
  charts/maintenance-page/README.md
  charts/opsgenie-heartbeat/README.md
  charts/prometheus-xrstf-github-exporter/README.md
  charts/tekton-apps/README.md
  charts/tekton-pipelines/Chart.yaml
  charts/tekton-pipelines/README.md
  charts/tekton-pipelines/templates/buildpacks/tasks/prepare-buildpack-build.yaml
  charts/tekton/README.md
Labels: enhancement, Needs Review

#138 feat: move Triggers out of EventListener section
  CHANGELOG.md
  charts/tekton-apps/Chart.yaml
  charts/tekton-apps/README.md
  charts/tekton-apps/templates/_helpers.tpl
  charts/tekton-apps/templates/_snippets.tpl
  charts/tekton-apps/templates/eventlistener.yaml
  charts/tekton-apps/templates/general/serviceaccounts.yaml
  charts/tekton-apps/templates/roles.yaml
  charts/tekton-apps/templates/serviceaccounts.yaml
  charts/tekton-apps/templates/triggers.yaml
  charts/tekton-apps/templates/wordpress/serviceaccounts.yaml
  charts/tekton-apps/templates/wordpress/triggerbindings.yaml
  charts/tekton-apps/values-test.yaml
  charts/tekton-apps/values.yaml
  charts/tekton/Chart.yaml
  charts/tekton/README.md
  charts/tekton/templates/_helpers.tpl
  charts/tekton/templates/eventlistener.yaml
  charts/tekton/templates/ingress.yaml
  charts/tekton/templates/serviceaccount.yaml
  charts/tekton/values-test.yaml
  charts/tekton/values.yaml
Labels: enhancement, Needs Review, chart/tekton-apps

#139 feat: add kustomize helm apps plugin support
  CHANGELOG.md
  charts/capacity-prometheus-exporter/README.md
  charts/demo/README.md
  charts/jitsi-helm/README.md
  charts/jitsi-helm/charts/prosody/README.md
  charts/maintenance-page/README.md
  charts/opsgenie-heartbeat/README.md
  charts/prometheus-xrstf-github-exporter/README.md
  charts/tekton-apps/Chart.yaml
  charts/tekton-apps/README.md
  charts/tekton-apps/templates/general/argocd_applications.yaml
  charts/tekton-apps/templates/general/argocd_extra_applications.yaml
  charts/tekton-apps/templates/wordpress/argocd_applications.yaml
  charts/tekton-apps/values-test.yaml
  charts/tekton-pipelines/README.md
  charts/tekton/README.md
Labels: Needs Review, chart/tekton-apps
