Repository saritasa-nest/saritasa-devops-helm-charts, pull requests merged in 2024-03, with the labels that each got.

#113 feat: release 1.7.4 terraform version for `terraform-pod` helm chart
  CHANGELOG.md
  charts/terraform-pod/Chart.yaml
  charts/terraform-pod/README.md
  charts/terraform-pod/values.yaml
Labels: enhancement, Needs Review

#115 feat: add mergeable
  .github/mergeable.yml
  CHANGELOG.md
Labels: Needs Review

#116 feat: fix typo in kaniko image variable
  CHANGELOG.md
  charts/tekton-pipelines/Chart.yaml
  charts/tekton-pipelines/README.md
  charts/tekton-pipelines/templates/kaniko/tasks/kaniko.yaml
Labels: Needs Review, chart/tekton-pipelines

#117 feat: updated-poetry
  CHANGELOG.md
  charts/tekton-pipelines/Chart.yaml
  charts/tekton-pipelines/README.md
  charts/tekton-pipelines/values.yaml
Labels: enhancement, Needs Review, chart/tekton-pipelines
