Repository saritasa-nest/saritasa-devops-helm-charts, pull requests merged in 2024-08, with the labels that each got.

#126 feat: release terraform 1.9.3
  .envrc
  CHANGELOG.md
  charts/terraform-pod/Chart.yaml
  charts/terraform-pod/README.md
  charts/terraform-pod/values.yaml
Labels: Needs Review, terraform

#127 feat: fix home grafana dashboard
  CHANGELOG.md
  charts/grafana-dashboards/Chart.yaml
  charts/grafana-dashboards/README.md
  charts/grafana-dashboards/templates/default/home.yaml
Labels: enhancement, Needs Review, chart/grafana-dashboards

#129 feat: release terraform 1.9.5
  CHANGELOG.md
  charts/terraform-pod/Chart.yaml
  charts/terraform-pod/README.md
  charts/terraform-pod/values.yaml
Labels: enhancement, Needs Review

#128 feat: update wordpress helm chart
  CHANGELOG.md
  charts/tekton-apps/Chart.yaml
  charts/tekton-apps/README.md
  charts/tekton-apps/templates/wordpress/argocd_applications.yaml
Labels: enhancement, Needs Review
